* {
    color: rgb(7, 7, 7);
    font-family: 'Times New Roman', Times, serif;
    border-color:coral
}   

.card {
    background-color: rgb(243, 217, 162);
    width: 750px;
    padding: 20px;
}

.des {
    font-size: large;
    border-style: solid;
    padding: 10px;
}

.list{
    display: inline-block;
    margin-right: 150px;
    text-align: left;
}

img {
    width:745px;
    height: auto;
    border-style: dashed;
}